html {
    scroll-behavior: smooth;
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input,
select,
textarea {
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    outline: none !important;
}

a,
button {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.row-25 {
    margin-left: -2.5px;
    margin-right: -2.5px;
}

.row-25 > [class*=col] {
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row-5 > [class*=col] {
    padding-left: 5px;
    padding-right: 5px;
}

.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row-10 > [class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}

.row-col-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row-col-10 > [class*=col] {
    padding: 10px;
}

.row-col-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row-col-5 > [class*=col] {
    padding: 5px;
}

body {
    background-color: var(--white);
    color: var(--dark-color);
    font: 400 14px/1.3 'Roboto', sans-serif;
}

.header {
    position: relative;
    z-index: 3;
    background: var(--white);
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
}

.header .header-logo {
    width: 100%;
}

.header .header-logo img {
    width: auto;
    height: 30px;
    max-width: 100%;
    display: block;
    vertical-align: middle;
}

.header .header-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .header-bar .header-navigation {
    width: 100%;
}

.header .header-bar .header-navigation > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .header-bar .header-navigation > ul > li {
    position: relative;
    margin: 0 20px;
    padding: 15px 0;
}

.header .header-bar .header-navigation > ul > li > a {
    font-weight: 500;
    color: var(--gray-color);
    padding: 5px 0 3px;
    font-size: 1.05em;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.header .header-bar .header-navigation > ul > li > a:active,
.header .header-bar .header-navigation > ul > li > a:hover {
    color: var(--secondary-color);
}

.header .header-bar .header-navigation > ul > li > ul {
    position: absolute;
    transform: translateY(20px);
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border: 1px solid #e6eeef;
    background: #fff;
    padding: 10px 0;
    box-shadow: 0 30px 40px 0 rgb(4 73 89 / 10%);
    color: var(--gray-color);
    top: 100%;
    left: -2.5em;
    min-width: 160px;
}

.header .header-bar .header-navigation > ul > li > ul > li {
    padding: 0 30px 0 20px;
    transition: all 0.3s linear;
    position: relative;
}

.header .header-bar .header-navigation > ul > li > ul > li > a {
    padding: 10px 0;
    white-space: nowrap;
    color: var(--gray-color);
    position: relative;
    display: inline-block;
    font-size: 1.05em;
    font-weight: 500;
}

.header .header-bar .header-navigation > ul > li > ul > li > a:hover,
.header .header-bar .header-navigation > ul > li > ul > li > a:active {
    color: var(--secondary-color);
}

.header .header-bar .header-navigation > ul > li > ul:before {
    content: "";
    width: 12px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: -6px;
    transform: rotate(45deg);
    left: 40px;
    border-left: 1px solid #e6eeef;
    border-top: 1px solid #e6eeef;
}

.header .header-bar .header-navigation > ul > li:hover > ul {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header .header-bar .header-link {
    margin-left: 30px;
    flex-shrink: 0;
}

.header .header-bar .header-link > a {
    background-color: var(--secondary-color);
    padding: 8px 14px 9px;
    border-radius: 4px;
    color: var(--white);
    font-size: 1.05;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgb(4 73 89 / 5%) !important;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.header .header-bar .header-link > a > i {
    margin-left: 6px;
}

.header .header-bar .header-link > a:hover,
.header .header-bar .header-link > a:active {
    opacity: .8;
}

.section-hero {
    height: 550px;
    position: relative;
    background: #ecfcff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-hero .decor {
    position: absolute;
}

.section-hero .decor.decor-one {
    left: 120px;
    right: 120px;
}

.section-hero .decor.decor-two {
    right: 25%;
    top: 210px;
}

.section-hero .decor.decor-three {
    right: 135px;
    top: 85px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #83daed;
    animation: spin1 2s infinite alternate;
}

.section-hero .decor.decor-four {
    left: 30%;
    top: 160px;
    width: 8px;
    height: 8px;
    background: #10b3d6;
    border-radius: 50%;
    animation: spin2 2s infinite alternate;
}

.section-hero .decor.decor-five {
    background: #ffa3be;
    width: 16px;
    border-radius: 50%;
    height: 16px;
    left: 24%;
    top: 310px;
    animation: spin1 2.5s infinite alternate;
}

.section-hero .decor.decor-six {
    background: #ffa3be;
    width: 8px;
    border-radius: 50%;
    height: 8px;
    right: 18%;
    bottom: 380px;
    animation: spin1 1s infinite alternate;
}

@keyframes spin1 {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes spin2 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(40px);
    }
}

.section-hero .decor.decor-building {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.section-hero .decor.decor-left {
    left: 150px;
    bottom: -6px;
    width: 250px;
}

.section-hero .decor.decor-right {
    bottom: -14px;
    right: 120px;
}

.section-hero .heading {
    text-align: center;
    color: var(--dark-color);
    font-size: 2.6em;
    font-weight: 700;
    margin-bottom: 15px;
}

.section-hero .desc {
    font-size: 1.15em;
    color: var(--gray-color);
    text-align: center;
    font-weight: 400;
    line-height: 1.7;
}

.section-form {
    padding: 50px 0;
    position: relative;
}

.section-heading {
    text-align: center;
    margin-bottom: 30px;
}

.section-heading .section-heading_title {
    font-size: 1.8em;
    color: var(--dark-color);
    font-weight: 600;
    margin-bottom: 5px;
}

.section-heading .section-heading_desc {
    font-size: 1.05em;
    color: var(--gray-color);
    text-align: center;
    font-weight: 400;
    line-height: 1.7;
}

.form-inner {
    margin-bottom: 15px;
}

.form-inner .form-inner_label {
    font-size: 0.95em;
    color: var(--gray-color);
    margin-bottom: 6px;
    font-weight: 600;
}

.form-inner .form-inner_group {
    display: flex;
    align-items: center;
    position: relative;
}

.form-inner .form-inner_group .form-inner_input {
    width: 100%;
    height: 34px;
    border-radius: 0;
    padding: 10px 15px;
    border: 1px solid #d2d2d2;
    color: var(--dark-color);
    font-size: 1em;
}

.form-inner .form-inner_group textarea.form-inner_input {
    height: auto;
    min-height: 120px;
}

.form-inner .form-inner_group .form-inner_input:focus,
.form-inner .form-inner_group .form-inner_input:focus-within {
    border-color: var(--secondary-color);
    box-shadow: 0 20px 30px 0 rgb(4 73 89 / 5%);
}

.form-inner .form-inner_group .form-inner_input::placeholder {
    color: #a9a9a9;
}

.form-inner .form-inner_group__icon .form-inner_input {
    padding-right: 65px;
}

.form-inner .form-inner_group__icon .form-inner_icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-left: 1px solid #d2d2d2;
    height: calc(100% - 20px);
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.05em;
    color: var(--gray-color);
    opacity: .7;
    padding-top: 2px;
}

.form-inner_desc {
    font-size: .9em;
    color: var(--secondary-color);
    font-weight: 300;
}

.form-inner_heading {
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 12px;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group .btn-submit {
    padding: 8px 20px;
    background: var(--secondary-color);
    color: var(--white);
    border-radius: 4px;
    border: 0;
    font-size: 1.1em;
    margin-right: 5px;
    transition: var(--transition);
}

.button-group .btn-submit:hover,
.button-group .btn-submit:active {
    opacity: .8;
}

.button-group .btn-reset {
    margin-left: 5px;
    padding: 8px 20px;
    background: var(--white);
    border: 1px solid var(--gray-color);
    color: var(--dark-color);
    border-radius: 4px;
    font-size: 1.1em;
    transition: var(--transition);
}

.button-group .btn-reset:hover,
.button-group .btn-reset:active {
    background: #f1f1f1;
    border-color: #9e9e9e;
}

.section-table {
    background: #fdfcfc;
    padding: 50px 0;
}

.table-template {
    background: var(--white);
}

.table-template tr th {
    font-size: 1em;
    background: #f1f1f9;
    text-transform: uppercase;
}

.table-template .badge {
    font-weight: 400;
    font-size: .9em;
    padding: 7px 10px 6px;
    min-width: 90px;
    color: var(--white);
}

.table-filter {
    margin-bottom: 20px;
}

.table-filter form .filter-inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 -7.5px;
}

.table-filter form .filter-inner .filter-inner_item {
    padding: 0 7.5px;
    flex: 1 1 0%;
    max-width: 280px;
}

.table-filter form .filter-inner .filter-inner_item.filter-button {
    flex: 0 0 100px;
}

.table-filter form .filter-inner .filter-inner_item label {
    color: var(--dark-color);
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 1em;
}

.table-filter form .filter-inner .filter-inner_item .form-control {
    background-color: var(--white);
    border: 1px solid #f1f1f1;
    color: var(--dark-color);
    outline: none !important;
    box-shadow: none !important;
    font-size: 1em;
    width: 100%;
}

.table-filter form .filter-inner .filter-inner_item.filter-button button {
    margin-top: 22.5px;
    outline: none !important;
    box-shadow: none !important;
    font-size: 1em;
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--secondary-color);
    transition: var(--transition);
    border-radius: 0.25rem;
    border: 0;
}

.table-filter form .filter-inner .filter-inner_item.filter-button button:hover {
    opacity: .8;
}

.table-filter form .filter-inner .filter-inner_item.filter-button button i {
    margin-left: 4px;
}

.section-partner {
    padding: 50px 0;
}

.partner-slide .swiper {
    padding: 10px;
}

.partner-item > a {
    position: relative;
    display: block;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 2%), 0 2px 15px rgb(0 0 0 / 10%) !important;
    padding: 30px;
    transition: var(--transition);
}

.partner-item a:hover {
    box-shadow: 1px 1px 1px var(--secondary-color), -1px -1px 1px var(--secondary-color) !important;
}

.partner-item img {
    max-width: 100%;
}

.footer {
    background-color: var(--white);
    padding: 20px 0 0;
    border-top: 1px solid #e9e9e9;
}

.footer .footer-item_logo {
    margin-bottom: 15px;
}

.footer .footer-item_logo img {
    height: 30px;
    width: auto;
    max-width: 100%;
}

.footer .footer-item_text {
    color: #4a4a4a;
    padding-right: 15px;
}

.footer .footer-item_title {
    font-size: 1.2em;
    color: #222;
    padding-bottom: 2px;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer .footer-item_list ul li a {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 1.1em;
    color: #222;
}

.footer .footer-item_list ul li a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.footer .footer-item_info p {
    margin-bottom: 6px;
}

.footer .footer-item_info p a {
    margin-right: 15px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border: 1px solid #d8d8d8;
    font-size: 1.1em;
    color: #222;
    background: #fff;
}

.footer .footer-item_info p a:hover {
    background: var(--secondary-color);
    color: #fff;
}

.footer-bottom {
    background: #eeeeee;
    border-top: 1px solid #d8d8d8;
    font-size: 1em;
    letter-spacing: 0.5px;
    padding: 10px 0;
}

.footer-bottom .footer-bottom_copyright {
    font-weight: 700;
    color: var(--dark-color);
}

.footer-bottom .footer-dropdown .btn-dropdown {
    font-size: 1em;
    font-weight: 500;
    border: 1px solid #e9e9e9;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.175rem 0.75rem;
    height: 34px;
    background: #fff;
}

.footer-bottom .footer-dropdown .dropdown-wrap .dropdown-menu {
    padding: 8px;
    z-index: 995;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    -webkit-box-shadow: 0 16px 24px rgb(51 51 51 / 8%);
    box-shadow: 0 16px 24px rgb(51 51 51 / 8%);
    border-radius: 4px;
    margin-top: 8px;
    min-width: 9rem;
    font-size: 14px;
}

.footer-bottom .footer-dropdown .dropdown-wrap .dropdown-menu > a {
    padding: 6px 10px;
    font-weight: 400;
    line-height: 18px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: .9em;
    color: var(--dark-color);
}

.footer-bottom .footer-dropdown .dropdown-wrap .dropdown-menu > a.active, .footer-bottom .footer-dropdown .dropdown-wrap .dropdown-menu > a:hover {
    background-color: #f4fafd;
}